In [19]:
import pandas as pd
import krippendorff as kp
import numpy as np

In [20]:
df = pd.read_csv('../Mech_Turk_submission/Batch_3642686_batch_results.csv')

In [21]:
df.head()

,HITId,HITTypeId,Title,Description,Keywords,Reward,CreationTime,MaxAssignments,RequesterAnnotation,AssignmentDurationInSeconds,...,Answer.Gender.4,Answer.Race.1,Answer.Race.2/,Answer.Race.3/,Answer.Race.4/,Answer.Race.5/,Answer.Race.6/,Answer.Race.7/,Approve,Reject
0,3X4Q1O9UBH0S2CEE9KHK4XZH91E7OX,3CUQ44BBWQNW9FM7ZF9C73N8SA86QT,Annotate Gender/Race in TedTalk Videos for 7 u...,Watch the first few seconds of the video and a...,"data collection, website, data extraction",$0.03,Tue May 14 10:52:41 PDT 2019,3,BatchId:3642686;OriginalHitTemplateId:928390855;,600,...,False,True,False,False,False,False,False,False,NaN,NaN
1,3X4Q1O9UBH0S2CEE9KHK4XZH91E7OX,3CUQ44BBWQNW9FM7ZF9C73N8SA86QT,Annotate Gender/Race in TedTalk Videos for 7 u...,Watch the first few seconds of the video and a...,"data collection, website, data extraction",$0.03,Tue May 14 10:52:41 PDT 2019,3,BatchId:3642686;OriginalHitTemplateId:928390855;,600,...,False,True,False,False,False,False,False,False,NaN,NaN
2,3X4Q1O9UBH0S2CEE9KHK4XZH91E7OX,3CUQ44BBWQNW9FM7ZF9C73N8SA86QT,Annotate Gender/Race in TedTalk Videos for 7 u...,Watch the first few seconds of the video and a...,"data collection, website, data extraction",$0.03,Tue May 14 10:52:41 PDT 2019,3,BatchId:3642686;OriginalHitTemplateId:928390855;,600,...,False,True,False,False,False,False,False,False,NaN,NaN
3,3NBFJK3IOHWBV5PF2NLEAACA84WOGG,3CUQ44BBWQNW9FM7ZF9C73N8SA86QT,Annotate Gender/Race in TedTalk Videos for 7 u...,Watch the first few seconds of the video and a...,"data collection, website, data extraction",$0.03,Tue May 14 10:52:28 PDT 2019,3,BatchId:3642686;OriginalHitTemplateId:928390855;,600,...,False,True,False,False,False,False,False,False,NaN,NaN
4,3NBFJK3IOHWBV5PF2NLEAACA84WOGG,3CUQ44BBWQNW9FM7ZF9C73N8SA86QT,Annotate Gender/Race in TedTalk Videos for 7 u...,Watch the first few seconds of the video and a...,"data collection, website, data extraction",$0.03,Tue May 14 10:52:28 PDT 2019,3,BatchId:3642686;OriginalHitTemplateId:928390855;,600,...,False,True,False,False,False,False,False,False,NaN,NaN

In [22]:
df.columns

Index(['HITId', 'HITTypeId', 'Title', 'Description', 'Keywords', 'Reward',
       'CreationTime', 'MaxAssignments', 'RequesterAnnotation',
       'AssignmentDurationInSeconds', 'AutoApprovalDelayInSeconds',
       'Expiration', 'NumberOfSimilarHITs', 'LifetimeInSeconds',
       'AssignmentId', 'WorkerId', 'AssignmentStatus', 'AcceptTime',
       'SubmitTime', 'AutoApprovalTime', 'ApprovalTime', 'RejectionTime',
       'RequesterFeedback', 'WorkTimeInSeconds', 'LifetimeApprovalRate',
       'Last30DaysApprovalRate', 'Last7DaysApprovalRate', 'Input.Video_ID',
       'Input.url', 'Input.embed_url', 'Answer.Gender.1', 'Answer.Gender.2',
       'Answer.Gender.3', 'Answer.Gender.4', 'Answer.Race.1', 'Answer.Race.2/',
       'Answer.Race.3/', 'Answer.Race.4/', 'Answer.Race.5/', 'Answer.Race.6/',
       'Answer.Race.7/', 'Approve', 'Reject'],
      dtype='object')

In [23]:
df_temp = df[['Input.Video_ID', 'Answer.Gender.1', 'Answer.Gender.2',
       'Answer.Gender.3', 'Answer.Gender.4', 'Answer.Race.1', 'Answer.Race.2/',
       'Answer.Race.3/', 'Answer.Race.4/', 'Answer.Race.5/', 'Answer.Race.6/',
       'Answer.Race.7/']]

In [24]:
df_temp.shape

(7149, 12)

In [25]:
ids = df_temp['Input.Video_ID'].unique()

In [26]:
alpha = []
row_list = []
final_df = pd.DataFrame(columns = df_temp.columns)
for ID in ids[:]:
    temp = df_temp[df_temp['Input.Video_ID']==ID].iloc[:,1:]
    
    krip_alpha = kp.alpha(reliability_data=temp, level_of_measurement='nominal')
    alpha.append(krip_alpha)
    #temp.head
    if krip_alpha==1.0:
        d = temp.iloc[0,:].to_dict()
        d['Input.Video_ID']=ID  
        #print(d)
        row_list.append(d)
    else:
        if len(temp['Answer.Gender.1'].unique())<=2 and len(temp['Answer.Race.1'].unique())<=2:
            temp = temp.mode()
            d = temp.mode()
            d['Input.Video_ID']=ID
            row_list.append(d.to_dict('records')[0])
        
        
#print(row_list)       
final_df = pd.DataFrame(row_list)

cols = list(final_df.columns)
cols = [cols[-1]] + cols[:-1]
final_df = final_df[cols]
final_df.head()

,Input.Video_ID,Answer.Gender.1,Answer.Gender.2,Answer.Gender.3,Answer.Gender.4,Answer.Race.1,Answer.Race.2/,Answer.Race.3/,Answer.Race.4/,Answer.Race.5/,Answer.Race.6/,Answer.Race.7/
0,779,False,True,False,False,True,False,False,False,False,False,False
1,2279,True,False,False,False,True,False,False,False,False,False,False
2,92,False,True,False,False,True,False,False,False,False,False,False
3,1819,True,False,False,False,False,False,False,True,False,False,False
4,1950,False,True,False,False,True,False,False,False,False,False,False

In [36]:
final_df = final_df.rename(columns= {'Input.Video_ID' : 'Video_ID', 
                          'Answer.Gender.1' : 'Male',
                          'Answer.Gender.2' : 'Female',
                          'Answer.Gender.3' : 'Both', 
                          'Answer.Gender.4' : 'Other',
                          'Answer.Race.1' : 'White',
                          'Answer.Race.2/' :'Black_or_African_American',
                          'Answer.Race.3/' :'American_Indian_or_Alaska_Native', 
                          'Answer.Race.4/' : 'Asian', 
                          'Answer.Race.5/' : 'Native_Hawaiian_or_Other_Pacific_Islander', 
                          'Answer.Race.6/' : 'Latino_or_Hispanic',
                          'Answer.Race.7/' : 'Other_or_mixed race'})

In [28]:
np.array(alpha).mean()

0.9312828004952779

In [37]:
final_df = final_df*1

In [38]:
final_df.to_csv('../Ted_data/protected_features.csv', index=False)